* {
    background-color: rgb(106, 184, 235);
    text-align: center;
}
h1{
    
    color:#efe007d1;
    font-size:40px;
    text-align: center;
}
p{
    color: rgb(8, 20, 8);
    text-align: left;
}